💰 **ОПЛАТА ПРОШЛА УСПЕШНО!**

🆔 **ID:** {{.OrderUUID}}
🎉🆔 **Event ID:** {{.EventUUID}}
💸 **PaymentMethod:** {{.PaymentMethod}}
💰🆔 **TransactionUUID:** {{.TransactionUUID}}

📅 **Зарегистрировано:** {{.RegisteredAt.Format "2006-01-02 15:04:05"}}